database_name=SNP
schema=default
endpoint=output_PTV_dbSNP.txt
file_name=SNP_r92_PTV
subset=PTV
exonic=transcript_ablation,splice_donor_variant,splice_acceptor_variant,stop_gained,frameshift_variant,stop_lost,start_lost,transcript_amplification,inframe_insertion,inframe_deletion,missense_variant,protein_altering_variant,splice_region_variant,incomplete_terminal_codon_variant,start_retained_variant,synonymous_variant,stop_retained_variant,coding_sequense_variant,mature_mirRNA_variant
missense=missense_variant
PTVmissense=stop_gained,splice_acceptor_variant,splice_donor_variant,frameshift_variant,missense_variant
PTV=stop_gained,splice_acceptor_variant,splice_donor_variant,frameshift_variant
	

